.portfolio-container {
    width: auto;
    height: 93vh;
}

.projects-container {
    display: grid;
    grid-template-columns: auto auto ;
    gap: 8rem;
    padding: 3rem;
    justify-content: space-around;
}

img {
    width: 500px;
    height: 250px;
    border: 1px solid white;
}

h1, a {
    color: white;
}

a {
    text-decoration: none;
}