.footer {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer a {
    color: rgb(255, 255, 255);
    background: rgba(244, 240, 240, 0.028);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-items: center;
    padding: 1em;
}