.intelligentH { /* ESTE SI LE PEGA */
    height: 60%;
    margin: 1em;
}

.my-app {
    width: auto;
    height: 93vh;
    margin: 0.5em auto;
    color: white;
}   

.home_container {
    height: 30%;
    display: flex;
    justify-content: center;
}

.technologies {
    display: flex;
    margin-right: 10%;
    margin-top: 1.5%;
}

.urls a {
    color: white;
}

.front {
    margin-top: 7%;
}

.back { 
    margin-top: 7%;
}